*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
input,button,textarea{font-family:inherit;}
nav,footer,header,aside{display: block;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
header { background-color: #F0EEDD; }
.container {
	min-width: 1440px;
	margin: 0 auto;
}
.section { height: 82px; }
p, h1, h2, h3 { font-family: 'Roboto', sans-serif; }
.heading {
	min-width: 1440px;
	text-align: center;
	padding-top: 9px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 20,4px;
	letter-spacing: 0,5px;
	text-align: center;
}
.menu a { text-decoration: none; }
.menu {
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
	display: flex;
	padding-top: 30px;
}
.logo {
	text-align: center;
	padding-top: 25px
	height: 32px;
	width: 131px;
}
.shop {
	width: 48px;
	font-weight: bold;
	color: #35312E;
}
.always {
	width: 109px;
	font-weight: bold;
	margin-left: 35px;
	color: #35312E;
}
.mission {
	width: 70px;
	margin-right: 35px;
	font-weight: bold;
	color: #35312E;
}
.faqs {
	width: 45px;
	font-weight: bold;
	margin-right: 19px;
	color: #35312E;
}
.menu .profil {
	background-color: #C87B5E;
	font-family: 'Roboto', sans-serif;
	display: inline;
	width: 35px;
	height: 35px;
	text-align: center;
	text-decoration: none;
	color: white ;
	border-radius: 50%;
}
.kitchen { height: 605px; }
.pan {
	position: absolute;
	padding-left: 383px;
	padding-top: 168px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	color: #35312E;
}
.meet {
	width: 248px;
	height: 16px;
	font-size: 16px; line-height: 16px; text-transform: uppercase;
}
.your {
	margin-top: 9px;
	width: 248px;
	height: 72px;
	font-size: 50px; line-height: 72px; letter-spacing: 1px;
}
.skillet {
	margin-top: -19px;
	position: absolute;
	width: 155px;
	height: 72px;
	font-size: 50px; line-height: 72px; letter-spacing: 1px; text-decoration-line: underline;
}
.buy {
	margin-top: 80px;
	background-color: #D37657;
	font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; 
	font-size: 12px; line-height: 20px;
	display: block;
	width: 248px;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.rectangle {
	max-width: 100%;
}
.teg {
	height: 216px;
	padding-top: 42px;
	background: #F5F1E9;
}
.doing {
	max-width: 629px;
	height: 48px;
	font-family: Roboto;
	margin-left: 406px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
}
.tegimg {
	justify-content: space-evenly;
	display: flex;
	margin-top: 40px;
	width: 100%;
}
.text {
	background: #FCFAF6;
	padding-top: 121px;
	height: 340px;
	justify-content: space-between;
	display: flex;
}
.welcome {
	width: 400px;
	height: 93px;
	font-weight: bold; font-size: 41px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 1.25px;
	color: #35312E;
	margin-left: 135px;
}
.place {
	width: 650px;
	height: 104px;
	font-weight: normal; font-size: 16px;
	line-height: 26px;
	color: #4F463F;
	margin-right: 120px;
}
.posuda .container { height: 939px; background: #FBF6EA; }
.text2 {
	padding-top: 70px;
	text-align: center;
	padding-bottom: 45px;
}

.text2 h2{
	height: 48px;
	font-size: 35px;
	line-height: 48px;
	color: #35312E;
	font-weight: normal;
}
.text2 a {
	height: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
.color {
	justify-content: center;
	display: flex;
	padding-top: 53px;
}
.orange {background: #E09D81;}.blue {background: #748EA1;margin-left:15px;}.brown {background: #B76D47;margin-left:15px;}.green {background: #7D836E;margin-left:15px;}
.red{background: #C33636;margin-left:15px;}.white{background: #CDC7B3;margin-left:15px;}.black{background: #595752;margin-left:15px;}.pink{background: #D3C2CA;margin-left:15px;}
.orange:hover{background: #E09D99;}.blue:hover{background: #748EC9;}.brown:hover{background: #B76D77;}.green:hover{background: #7D837F;}
.red:hover{background: #C33648;}.white:hover{background: #CDC7C9;}.black:hover{background: #595769;}.pink:hover{background: #D3C2FF;}
.kastrula {
	position: absolute;
	background: transparent;
	padding-left: 518px;
}
.posuda .container .choice p {
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	color: #6E6259;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
}
.modular {
	margin-top: 83px;
	margin-left: 374px;
	width: 135px;
	height: 31px;
} 
.easy {
	margin-top: 357px;
	margin-left: 454px;
	width: 107px;
	height: 31px;
}
.exclusive {
	margin-top: 472px;
	margin-left: 374px;
	width: 172px;
	height: 47px;
}
.beechwood {
	margin-top: 36px;
	margin-left: 896px;
	width: 158px;
	height: 31px;
}
.nesting {
	margin-top: 284px;
	margin-left: 888px;
	width: 171px;
	height: 31px;
}
.stay {
	margin-top: 443px;
	margin-left: 935px;
	width: 160px;
	height: 16px;
}

section .container .from h2 {
	width: 477px;
	height: 111px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 33px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 1.2px;
	color: #35312E;
}
section .container .from p{
	width: 441px;
	height: 58px;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #4F463F;
	margin: 18px 0 0 18px;
}
.from {
	padding-top: 73px;
	padding-left: 482px;
}
.block {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	text-align: center;
	padding-left: 74px;
	padding-right: 48px;
}
.logotype h3 {
	margin-top: 15px;
}
.logotype p {
	padding-top: 5px;
}
.image4 {
	padding-top: 115px;
	background-image: url(img/image4.png);
	background: #F7F3EB
	width: 251px;
}	
.h { width: 286px; }
.hh { width: 286px; margin-top:-35px}
.p1 {
	width: 161px;
	font-family: Roboto; font-weight: normal; font-size: 11px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #6E635A;
	margin-left: 60px;
}
.p2 {
	width: 181px;
	font-family: Roboto; font-weight: normal; font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #6E635A;
	margin-left: 53px;
}
.p3 {
	width: 170px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #6E635A;
	margin-left: 58px;
}
.p4 {
	width: 184px;
	font-family: Roboto;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #6E635A;
	margin-left: 51px;
}
.section2 .container {
	background: #FCFAF6;
}
.section2 .container .block .logotype a{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.btn1, .btn3 {
	justify-content: center;
	display: flex;
	padding-top: 41px;
	padding-bottom: 105px;
}
.btn2, .btn4 {
	justify-content: center;
	display: flex;
	padding-top: 21px;
	padding-bottom: 105px;
}
.logobox {
	justify-content: space-between;
	display: flex;
}
.abstext {
	position: absolute;
	margin-top: -80px;
}
.logobox .abstext .p1 {
	width: 99px;
	height: 21px;
	font-family: Roboto; font-weight: normal; font-size: 11px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #35312E;
	margin-top: 190px;
	margin-left: 190px;
}
.logobox .abstext .p2 {	
	width: 450px;
	height: 93px;
	top: 53.78px;
	font-family: Roboto; font-weight: bold; font-size: 24px;
	line-height: 46px;
	text-align: center;
	letter-spacing: 1px;
	color: #35312E;
	margin-top: 33px;
	margin-left: 15px;
}
.logobox {
	height: 480px;
	max-width: 100%;
}
.logobox .abstext a {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	display: block;
	width: 206px;
	height: 54px;
	padding: 15px 41px 19px 40px;
	text-decoration: none;
	text-align: center;
	color: #4F463F ;
	margin-top: 69px;
	margin-left: 137px;
}
.between {
	justify-content: space-between;
	display: flex;
	background-color:#6C674D;
	height: 579px;
	padding-top: 80px;
	padding-left: 48px;
}

.keep {
	height: 58px;
	font-family: Roboto; font-style: normal; font-weight: bold; font-size: 23px;
	line-height: 58px;
	letter-spacing: 0.7px;
	color: #F5F1E9;
}
.be {
	height: 24px;
	font-family: Roboto; font-style: normal; font-weight: normal; font-size: 14px;
	line-height: 24px;
	color: #FCFAF6;
	margin-top: 11px;
}
.form {
	margin-top: 62px;
}
.container .mail .form input {
	width: 347px;
	height: 60px;
	background: #FCFAF6;
	border-radius: 0px;
}
.container .mail .form button {
	height: 60px;
	background: #FCFAF6;
	border-radius: 0px;
	width: 101px;
	position: absolute;
	font-family: Roboto; font-style: normal; font-weight: bold; ont-size: 12px;
	line-height: 14px;
	text-align: center; text-transform: uppercase;
	color: #4F463F;
}
.container .mail .form input{
	width: 347px;
	height: 60px;
	background: #FCFAF6;
	border-radius: 0px;
}

::placeholder {
	width: 90px;
	height: 58px;
	padding-top: 5px;
	padding-left: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 58px;
	letter-spacing: 0.7px;
	color: rgba(0, 0, 0, 0.5);
}
.h4 {
	width: 149px;
	height: 270px;
}
h4 {
	height: 21px;
	font-family: Roboto; font-style: normal; font-weight: bold; font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #F5F1E9;
}
.ah {
	justify-content: space-between;
	display: flex;
}
.country {
	padding-top: 104px;
}
.h4 a {
	height: 31px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 31px;
	color: rgba(245, 241, 233, 0.6);
	text-decoration: none;
	margin-top: 9px;
	display: block;
}
.h4 div {
	/*flex-direction: column;*/
}
.country {
	margin-top: 59px;
	width: 144px; 
	height: 64px;
}
.country img {
	margin-top: 9px;
} 
.canada {
	margin-left: 24px;
}
.footer .container {
	height: 74px;
	background: #807C62;
	padding: 20px 48px 26px 48px;
	justify-content: space-between;
	display: flex;
}
.footer .container p,a{	
	height: 28px;
	font-family: Roboto; font-weight: normal; font-size: 14px;
	line-height: 27px;
	color: rgba(252, 250, 246, 0.5);
	text-decoration: none;
}
.footext {
	width: 433px;
	height: 34px;
	justify-content: space-between;
	display: flex;
}
.footext .invalid {
	margin-top: 3px;
	width: 80px;
	height: 20px;
	background: #FCFAF6;
	border-radius: 5px;
	text-align: center;
}